---
const personalImageAlt = "Agustin Minzoni";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy Agustin Minzoni, aunque mis amigos me llaman Minzo. Soy <strong>Técnico Superior en Desarrollo de Software</strong> , especializado en <strong>Java Backend con Spring</strong>. Apasionado por la tecnología, me encanta resolver problemas reales a través del desarrollo de software, tanto en aplicaciones de escritorio como en la web, utilizando <strong>Java </strong>☕ y <strong>Spring con Thymeleaf</strong> 🍃.
    </p>
    <p>
      Mi interés por la resolución de problemas y la creatividad me ha llevado al mundo del desarrollo Backend, donde siempre estoy buscando nuevas oportunidades de aprendizaje y colaboración con otros profesionales. Y claro, nunca falta un buen mate 🧉 mientras desarrollo soluciones innovadoras.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.jpeg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>