---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const PROJECTS = [
  {
    title: "Bazar Web Application",
    description:
      "Aplicación web monolítica desarrollada con Java 17 y Spring Boot 3.3.5 para la gestión de clientes, productos y ventas de un bazar. Implementa el patrón MVC y utiliza una base de datos en memoria H2 para facilitar pruebas y despliegue. El frontend está construido con Thymeleaf y Bootstrap 5, ofreciendo una interfaz moderna y responsiva. Incorpora autenticación con Spring Security, una API Rest documentada con Swagger y utiliza MapStruct para el mapeo de entidades a DTOs, asegurando un código bien estructurado y mantenible.",
    github: "https://github.com/TecnoZoni/Bazar_Web_Application_java",
    image: "/projects/bazarWeb.png",
  },
  {
    title: "Peluqueria canina en Java usando JPA con MySQL",
    description:
      "Programa de registro de turnos para una peluqueria canina creado con Java SE utilizando Swing para la interfaz, EclipseLink como ORM y MySQL para la persistencia de datos.",
    github: "https://github.com/TecnoZoni/Peluqueria_Canina_Java_JPA",
    image: "/projects/caninos.jpg",
  },
  {
    title:
      "Repositorio para Aprender el Camino a Ser un Buen Desarrollador Backend",
    description:
      "En este repositorio iré guardando contenido según lo vaya aprendiendo en mi camino como especialista backend, en mi caso con Java y Spring. La idea surge gracias al #Challenge-gentleman-diferencia de Gentleman Programming y tratará sobre crear contenido en LinkedIn y GitHub que sirva como autoaprendizaje y enseñanza para mejorar y diferenciarme de los demás desarrolladores backend.",
    github: "https://github.com/TecnoZoni/Roadmap-Backend-developer",
    image: "/projects/github.png",
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Imagenes de los proyectos"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Codigo
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
